<div class="container">
  <nav class="navbar navbar-default" class="container-fluid">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/list">Movies</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a ng-link="['Home']">Home</a></li>
        <li>
          <a ng-link="['Movies','Details',{id:1}]">Movies</a>
        </li>
        <li>
          <a ng-link="['About']">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <ng-outlet></ng-outlet>
  </div>
</div>
